name: Publish to pub.dev (minimal)

on:
  push:
    branches: [ master ]   # cámbialo a main si toca
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Set pub.dev credentials
        run: |
          mkdir -p ~/.pub-cache
          echo "$PUB_CREDENTIALS" > ~/.pub-cache/credentials.json
        env:
          PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}

      - name: Get deps
        run: flutter pub get
        # working-directory: ./ruta/al/paquete  # ← descomenta si no está en la raíz

      - name: Publish
        run: flutter pub publish --force
        # working-directory: ./ruta/al/paquete  # ← descomenta si no está en la raíz
