name: Publish to pub.dev (minimal)

on:
  push:
    branches: [ master ]   # cámbialo a main si toca
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Dart suficiente para 'dart pub publish'
      - uses: dart-lang/setup-dart@v1

      # Carga credenciales desde el secret
      - name: Set pub.dev credentials
        run: |
          mkdir -p ~/.pub-cache
          echo "$PUB_CREDENTIALS" > ~/.pub-cache/credentials.json
        env:
          PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}

      # Publicación directa
      - name: Publish
        run: dart pub publish --force
        # working-directory: ./ruta/al/paquete   # <- descomenta si tu paquete no está en la raíz
