name: Publish to pub.dev (minimal)

on:
  push:
    branches: [ master ]   # cambia a main si toca
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Restore pub.dev credentials
        env:
          PUB_CREDENTIALS_B64: ${{ secrets.PUB_CREDENTIALS_B64 }}
        run: |
          mkdir -p ~/.pub-cache
          echo "$PUB_CREDENTIALS_B64" | base64 -d > ~/.pub-cache/credentials.json

      - name: Get deps
        run: flutter pub get
        # working-directory: ./ruta/al/paquete

      - name: Publish
        run: flutter pub publish --force
        # working-directory: ./ruta/al/paquete
